body {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
}

html {
  min-height: 100%;
}

.root {
  min-width: 100%;
}

.calorieCounter {
  font-size: large;
  font-weight: 800;
  color: white;
}