@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 20;
  padding: 20;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  background: url('../src/img/background.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
}

html {
  min-height: 100%;
}

.root {
  min-width: 100%;
}

.calorieCounter {
  font-size: large;
  font-weight: 800;
  color: white;
}

.entryCard{
  background-color: transparent;
}

.entryCard .row {
  font-size: large;
}

